/langchain_env/Lib/site-packages/

__pycache__
credentials/


Include/
Lib/
Lib/site-packages/
site-packages/
Scripts/
share/
chromadb/
utils/
db/
.ipynb_checkpoints/
b/
cache/
data/
images/

*.streamlit
*.env
*.env_sample
*.txt
*.csv
*.xlsx
*.pyc
*.txt

*.cfg


*.json

*.pdf

